<footer class="site-footer h-card">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
            {{ site.author | escape }}
            {%- else -%}
            {{ site.title | escape }}
            {%- endif -%}
          </li>
          <li><a class="u-email" href="{% if site.lang != site.default_lang %}/{{ site.lang }}{% endif %}/contact/">{% t
              menu.contact %}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>
          <script>
            var foot = [];
            foot.push('Lo que más me sorprende del hombre occidental, es que pierden la salud para ganar dinero para recuperar su salud. Y por pensar ansiosamente en el futuro no disfrutan el presente, por lo que no viven ni el presente ni el futuro. Y viven como si no tuviesen que morir nunca y mueren como si nunca hubieran vivido. --  Dalai Lama')
            foot.push('Who are we? We find that we live on an insignificant planet of a humdrum star lost in a galaxy tucked away in some forgotten corner of a universe in which there are far more galaxies than people. -- Carl Sagan');
            foot.push('La persona que no esté en paz consigo misma, será una persona en guerra con el mundo entero. -- Mahatma Gandhi');
            foot.push('Felix qui potuit rerum cognoscere causas -- Virgilius')
            foot.push('Time erodes variance and guesswork.');
            const random = Math.floor(Math.random() * foot.length);
            document.write(`&laquo; "${foot[random]}" &raquo;`);
          </script>

        </p>
      </div>
    </div>

  </div>

</footer>