<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div
      class="{% if page.layout == 'home' or page.layout == 'blog' or page.layout == 'post' %}container{% else %}wrapper{% endif %}">
      {{ content }}
    </div>
  </main>

  {%- include footer.html -%}

  <script src="/assets/js/jquery-3.5.1.min.js"></script>
  <script src="/assets/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/jquery.viewportchecker.min.js"></script>
  <script src="/assets/js/formConfirmation.js?v=201707221115"></script>
  <script src="/assets/js/script.js?v=201708221114"></script>
</body>

</html>